@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&family=Roboto+Slab:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&family=Roboto+Slab:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
  background-color: #F08220;
  border-radius: 9em;
}
::-webkit-scrollbar {
  background-color: #2B2C31;
  border-radius: 5px;
  width: 0.7vw;
}
.hidden{
  transition: all 0.8s;
  opacity: 0;
  transform: translateX(-80px);
}

.show{
  opacity: 1;
  transform: translateX(0);
}
.first-page{
  position: relative;
}
.top-dec{
  position: absolute;
  transition: all 0.6s;
  animation: dec-pulse 5s infinite;
}
.top-dec-one{
  left: 400px;
  top: 20px;
}
.top-dec-two{
  right: 2vw;
  bottom: 50px;
}
.top-dec-three{
  left: 200px;
  bottom: 20px;
}
#root {
  margin: 0 auto;
  overflow-x: hidden;
}
.first-page,.second-page{
  max-width: 1440px;
}
.business-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.work-experience{
  margin-top: 8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  letter-spacing: 2px;
}
.text-block{
  margin-left: 2em;
  max-width: 690px;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: 0.7em #6C3D14 solid;
  border-radius: 10px;
}
.text-block h1{
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #151515;
}
.experience-time{
  margin-top: 0.5em;
  font-weight: 300;
}

.portfolio{
  margin: 2em auto 0 auto;
  max-width: 100%;
  width: 100vw;
}
.portfolio-list{
  margin-top: 2em;
    display: grid;
    width: 100%;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
    grid-row-gap: 3em;
}
.portfolio-title{
  font-family: 'Roboto Flex', serif;
  font-weight: 500;
  font-size: 36px;
  color: #6C3D14;
  margin-left: 1em;
}
.portfolio-item{
  margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.portfolio-item-name{
  color: #151515;
  font-family: "Roboto Flex",serif;
    font-weight: 500;
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
    font-size: 24px;
}
.portfolio-item-desc{
  color: #282828;
  font-family: Roboto, serif;
    font-weight: 300;
    max-width: 440px;
    font-size: 20px;
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
    flex: 1;
}
.portfolio-item-stack{
  color: #282828;
  font-family: Roboto,serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
}
.portfolio-item-url{
  color: #282828;
  text-decoration: none;
    font-family: Roboto,serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    margin-top: 0.4em !important;
    margin-bottom: 0.4em !important;
    
}
.portfolio-item-url a:hover{
  cursor: pointer;
}
.portfolio-item-image{
  transition: opacity 0.6s;
  display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    max-width: 100%;
    max-height: 280px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    opacity: 0.7;
    z-index: 1;
    position: relative;
}
.portfolio-item-image:hover{
  cursor: pointer;
  opacity: 1;
}
.portfolio-item-back-image{
  width: 100%;
    height: 280px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    filter: blur(1px);
}
.black{
  background: #151515;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1 !important;
}
.contact-prew{
  color:#151515;
  font-size: 36px;
}
.contacts-block{
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 2em;
}
.contacts{
  color: #1b1b1b;
  font-size: 32px;
  font-family: Roboto, serif;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5em;
}
.contacts p:not(:last-child){
  margin-right: 1em;
}
.text-block p{
  font-family: 'Roboto', serif;
  font-size: 28px;
  color: #282828;
}
.logo img{
  max-width: 274px;
}
.robo-slab{
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
}
.work-title{
  rotate: -90deg;
  margin-top: 10em;
  width: 450px;
  position: absolute;
  left: -5em;
}
.work-title h1{
  font-size: 36px;
  letter-spacing: 10px;
  font-family: 'Bree Serif', serif;
}
.photo{
  margin-left: 35%;
  display: flex;
  margin-top: 2em;
  justify-content: end;
  transition: all 0.6s ease;
}
.main-photo{
  width: 292px;
  height: 292px;
  max-width: 292px;
  max-height: 292px;
  border-radius: 50% 50% 50% 0;
  border: 0.8em solid white;
}
.text-content{
  width: 50%;
  margin-left: 2em;
  margin-right: 4em;
  margin-top: 0.5em;
  letter-spacing: 2px;
}
.slide-down,.slide-up{
  display: flex;
  justify-content: center;
}
.slide-down img:hover,.slide-up img:hover{
  cursor: pointer;
}
.slide-down{
  margin-top: 8em;
}
.dec{
  width: 120%;
  left: 0;
  background: url("./assets/layer-down.svg") repeat-x;
  height: 120px;
  background-size: auto 100%;
  animation: pulse 10s cubic-bezier(.65,.05,.36,1) infinite;
  bottom:0;
}
.dec:not(#dec-one){
  position: absolute;
}
.dec-block{
  width: 100%;
  position: relative;
  margin-top: 4em;
  overflow-x: hidden;
}
#dec-two{
  opacity: 0.8;
  transform: translateX(4%);
}
#dec-three{
  opacity: 0.6;
  transform: translateX(-4%);
}
.back-color{
  background: rgb(240,130,32);
  background: linear-gradient(180deg, rgba(240,130,32,1) 0%, rgba(191,104,26,1) 82%, rgba(158,86,22,1) 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
#dec-two{
  opacity: 0.8;
  transform: translateX(-8%) !important;
}
#dec-three{
  opacity: 0.6;
  transform: translateX(-4%) !important;
}
.slide-down img,.slide-up img{
  height: 35px;
}
.text-name{
  border-bottom: 4px solid white;
  padding-bottom: 4px;
  font-size: 36px;
}
.text-desc{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}
.main-content{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-right: 2em;
  position: relative;
}
.work-title-jun{
  position: relative;
}
.work-title-dev{
  position: absolute;
  border-bottom: 6px solid white;
  margin-left: 4.6em;
  padding-bottom: 4px;
  top: 55px;
}
@keyframes dec-pulse {
  0%{
    transform: translateY(0) translateX(0);
  }
  50%{
    transform: translateY(1em) translateX(1em);
  }
  100%{
    transform: translateY(0) translateX(0);
  }
}
@keyframes pulse {
  0%{
    background-position-x:0;
    background-position-y:0;
  }
  25%{
    background-position-y:0.5em;
  }
  50%{
    background-position-x:200px;
    background-position-y:1em;
  }
  75%{
    background-position-y:0.5em;
  }
  100%{
    background-position-y:0;
    background-position-x:0;
  }
}
@media screen and (max-width: 1200px) {
  .text-desc{
    font-size: 18px;
  }
  .work-experience{
    justify-content: space-around;
  }
  .logo{
    width: 30vw;
  }
  .logo img{
    width: 100%;
  }
  .text-block p{
    font-size: 24px;
  }
  .contact-prew{
    font-size: 30px;
  }
  .contacts p{
    font-size: 24px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 840px){
  .text-block{
    margin-left: 1em;
    max-width: 60%;
  }
}

@media screen and (max-width: 840px) {
  .portfolio-title{
    font-size: 28px;
  }
  .portfolio-item-desc,.portfolio-item-stack,.portfolio-item-url{
    font-size: 18px;
  }
  .portfolio-item-name{
    font-size: 20px;
  }
  .portfolio-list{
    width: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 3em;
  }
  .text-block{
    max-width: 80%;
    padding-left: 0.5em;
  }
  .top-dec-one{
    right: 100px;
    left: unset;

    top: 20px;
  }
  .top-dec{
    height: 120px;
  }
  .text-block h1{
    font-size: 24px;
  }
  .text-block{
    margin-left: 0;
  }
  .work-experience{
    letter-spacing: 1px;
  }
  .dec{
    height: 80px;
  }
  .text-block p{
    font-size: 18px;
  }
  .contacts p {
    margin: 0.3em 0;
  }
  .photo{
    flex-direction: column;
  }
  .work-experience{
    flex-direction: column-reverse;
  }
  .logo{
    margin-top: 1em;
  }
  .photo img{
    border: 0.4em solid white;
  }
  .text-content{
    width: 90%;
  }
  .work-title{
    left: -8em;
  }
}
@media screen and (max-width: 630px) {
  .work-experience{
    margin-top: 4em !important;
  }
  .contacts-block{
    margin-left: 1em;
  }
  .main-photo{
    width: 60%;
    height: 60%;
  }
  .top-dec-two{
    right: 80px;
    bottom: 50px;
  }
  .top-dec-three{
    left: 50px;
    bottom: 20px;
  }
  .text-name{
    font-size: 24px;
  }
  .work-title h1{
    font-size: 28px;
  }
  .work-title{
    left: -10em;
  }
}
@media screen and (max-width: 480px) {
  .portfolio-title{
    text-align: center;
    margin-left: 0 !important;
    font-size: 20px;
  }
  .portfolio-item-desc,.portfolio-item-stack,.portfolio-item-url{
    font-size: 16px;
  }
  .portfolio-item-name{
    font-size: 18px;
  }
  .top-dec-one{
    right: 50px;
    left: unset;
  }
  .work-title h1{
    font-size: 21px;
  }
  .photo{
    width: 100vw;
  }
  .text-content{
    margin-left: 0;
    width: 100%;
  }
  .work-title{
    left: -11em;
  }
  .work-title-dev{
    top: 35px;
  }
  .text-name{
    font-size: 18px;
  }
  .text-desc{
    font-size: 15px;
  }
  .text-block h1{
    font-size: 20px;
  }
  .text-block p{
    font-size: 16px;
  }
  .work-experience{
    width: 100%;
  }
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 4em;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #F08220;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #F08220 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
